Exercise 1: Introduction to Data Analysis (Easy)

What is data analysis?
    ...
Why is data analysis important in modern contexts?

List and describe three areas where data analysis is applied today.
Hint/Tip:

Research current trends in data analysis and real-world examples to provide depth to your essay.

Exercise 2: Dataset Loading and Initial Analysis

In [1]:
import pandas as pd

In [6]:
df_time = pd.read_csv('Time Americans Spend Sleeping.csv')
df_time_head = df_time.head()
print (df_time)

     index  Year  Period  Avg hrs per day sleeping  Standard Error  \
0        0  2003  Annual                      8.57           0.018
1        1  2004  Annual                      8.55           0.026
2        2  2005  Annual                      8.62           0.023
3        3  2006  Annual                      8.63           0.024
4        4  2007  Annual                      8.57           0.024
..     ...   ...     ...                       ...             ...
940    940  2013  Annual                      8.83           0.085
941    941  2014  Annual                      8.98           0.086
942    942  2015  Annual                      8.83           0.074
943    943  2016  Annual                      8.92           0.071
944    944  2017  Annual                      8.81           0.091

            Type of Days          Age Group  Activity    Sex
0               All days  15 years and over  Sleeping   Both
1               All days  15 years and over  Sleeping   Both
2               All days  15 years and over  Sleeping   Both
3               All days  15 years and over  Sleeping   Both
4               All days  15 years and over  Sleeping   Both
..                   ...                ...       ...    ...
940  Nonholiday weekdays  65 years and over  Sleeping  Women
941  Nonholiday weekdays  65 years and over  Sleeping  Women
942  Nonholiday weekdays  65 years and over  Sleeping  Women
943  Nonholiday weekdays  65 years and over  Sleeping  Women
944  Nonholiday weekdays  65 years and over  Sleeping  Women

[945 rows x 9 columns]

In [7]:
df_time_describe = df_time.describe()
print(df_time_describe)

            index         Year  Avg hrs per day sleeping  Standard Error
count  945.000000   945.000000                945.000000      945.000000
mean   472.000000  2010.000000                  8.806868        0.086958
std    272.942302     4.322782                  0.545001        0.034631
min      0.000000  2003.000000                  7.720000        0.018000
25%    236.000000  2006.000000                  8.360000        0.063000
50%    472.000000  2010.000000                  8.810000        0.084000
75%    708.000000  2014.000000                  9.190000        0.106000
max    944.000000  2017.000000                 10.650000        0.228000

In [8]:
df_time_info = df_time.info()
print(df_time_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     945 non-null    int64
 1   Year                      945 non-null    int64
 2   Period                    945 non-null    object
 3   Avg hrs per day sleeping  945 non-null    float64
 4   Standard Error            945 non-null    float64
 5   Type of Days              945 non-null    object
 6   Age Group                 945 non-null    object
 7   Activity                  945 non-null    object
 8   Sex                       945 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 66.6+ KB
None

Exercise 3: Identifying Data Types

In [21]:
df_time.select_dtypes(include=['object', 'category']).columns

Index(['Period', 'Type of Days', 'Age Group', 'Activity', 'Sex'], dtype='object')

In [16]:
qualitative_df_time = df_time.select_dtypes(include=['object', 'category']).columns

In [19]:
qualitative_columns_df_time

Index(['Period', 'Type of Days', 'Age Group', 'Activity', 'Sex'], dtype='object')

In [18]:
quantitative_df_time = df_time.select_dtypes(include=['float64', 'int64']).columns

In [22]:
df_time.select_dtypes(include=['float64', 'int64']).columns

Index(['index', 'Year', 'Avg hrs per day sleeping', 'Standard Error'], dtype='object')

**Exercise 4: Exploring Data Types**

Identify and list which columns in your dataset are qualitative and which are quantitative.

In [26]:
df_iris = pd.read_csv('iris.csv')

In [35]:
df_iris_head = df_iris.head()
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [34]:
df_iris_describe = df_iris.describe()
df_iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [37]:
df_iris_info = df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [40]:
quantitative_iris = df_iris.select_dtypes(include=['float64', 'int64']).columns
df_iris.select_dtypes(include=['float64', 'int64']).columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [47]:
qualitative_iris = df_iris.select_dtypes(include=['object', 'category']).columns

In [48]:
qualitative_iris

Index(['Species'], dtype='object')

Write a brief description of why each column is classified as qualitative or quantitative.

**Exercise 5: Basic Data Analysis with Google Colab**

import panda as pd
import matplotlib.pyplot as plt
import seaborn as sns

à