In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\rickia\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rickia\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rickia\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rickia\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rickia\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\rickia\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
data = pd.Series([1, 3, 5, 7, 9])

In [ ]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [ ]:
df = pd.read_csv('path/to/your/csvfile.csv')
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'path/to/your/csvfile.csv'

In [7]:
df.head()  # Displays the first 5 rows by default

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [10]:
ages = df['Age']  # Access the 'Age' column
print(ages)

0    28
1    34
2    29
3    32
Name: Age, dtype: int64

In [11]:
df.sort_values(by='Age')

    Name  Age      City
0   John   28  New York
2  Peter   29    Berlin
3  Linda   32    London
1   Anna   34     Paris

In [12]:
df[df['Age'] > 30]  # Selects rows where age is greater than 30

    Name  Age    City
1   Anna   34   Paris
3  Linda   32  London

In [13]:
df[df['Age'] > 30]

    Name  Age    City
1   Anna   34   Paris
3  Linda   32  London

In [14]:
df.groupby('City').mean()  # Groups data by city and calculates mean for each group

TypeError: agg function failed [how->mean,dtype->object]

In [15]:
pd.merge(df1, df2, on='common_column')

NameError: name 'df1' is not defined

In [ ]:


data = {
    'Book Title': ['The Great Gatsby', 'To Kill a Mockingbird', '1984', 'Pride and Prejudice', 'The Catcher in the Rye'],
    'Author': ['F. Scott Fitzgerald', 'Harper Lee', 'George Orwell', 'Jane Austen', 'J.D. Salinger'],
    'Genre': ['Classic', 'Classic', 'Dystopian', 'Classic', 'Classic'],
    'Price': [10.99, 8.99, 7.99, 11.99, 9.99],
    'Copies Sold': [500, 600, 800, 300, 450]
}

df = pd.DataFrame(data)
print(df)

               Book Title               Author      Genre  Price  Copies Sold
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450

Use head() to view the first few rows of the DataFrame.

In [19]:
df.head()

               Book Title               Author      Genre  Price  Copies Sold
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450

Use describe() to get a statistical summary of the numerical columns.

In [20]:
df.describe()

           Price  Copies Sold
count   5.000000     5.000000
mean    9.990000   530.000000
std     1.581139   185.741756
min     7.990000   300.000000
25%     8.990000   450.000000
50%     9.990000   500.000000
75%    10.990000   600.000000
max    11.990000   800.000000

Use info() to get a concise summary of the DataFrame, including the number of non-null entries in each column.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book Title   5 non-null      object
 1   Author       5 non-null      object
 2   Genre        5 non-null      object
 3   Price        5 non-null      float64
 4   Copies Sold  5 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes

Sort the DataFrame based on the Price or Copies Sold.

In [24]:
df.sort_values(by= 'Price')

               Book Title               Author      Genre  Price  Copies Sold
2                    1984        George Orwell  Dystopian   7.99          800
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
3     Pride and Prejudice          Jane Austen    Classic  11.99          300

In [26]:
df.sort_values(by='Copies Sold')

               Book Title               Author      Genre  Price  Copies Sold
3     Pride and Prejudice          Jane Austen    Classic  11.99          300
4  The Catcher in the Rye        J.D. Salinger    Classic   9.99          450
0        The Great Gatsby  F. Scott Fitzgerald    Classic  10.99          500
1   To Kill a Mockingbird           Harper Lee    Classic   8.99          600
2                    1984        George Orwell  Dystopian   7.99          800

Filter the books by a specific Genre or books with Price above a certain threshold.

In [ ]:
df

C:\Users\rickia\AppData\Local\Temp\ipykernel_38044\1967209102.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.sort_values(by='Genre')['Price']>10]

            Book Title               Author    Genre  Price  Copies Sold
0     The Great Gatsby  F. Scott Fitzgerald  Classic  10.99          500
3  Pride and Prejudice          Jane Austen  Classic  11.99          300

Group the books by Author and sum up the Copies Sold.