**Exercise 1: Identifying Data Type**

In [ ]:
A companyâ€™s financial reports stored in an Excel file:structured
Photographs uploaded to a social media platform:unstructured
A collection of news articles on a website:unstructured
Inventory data in a relational database:structured
Recorded interviews from a market research study:unstructured

Exercise 2: Transformation Exercise

In [ ]:
A series of blog posts about travel experiences:
Audio recordings of customer service calls:
Handwritten notes from a brainstorming session:
A video tutorial on cooking:

**Exercise 3 : Import a file from Kaggle**

Import the train dataset. Use the train.csv file.

In [2]:
import pandas as pd

In [4]:
data_train = pd.read_csv('train.csv')
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Exercise 4: Importing a CSV File**

In [5]:
import pandas as pd

In [7]:
data_iris = pd.read_csv('iris.csv')
data_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**Exercice 5 : Exporter un dataframe au format Excel et au format JSON.**

CrÃ©ez un dataframe simple.

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({
       'Column1': [1, 2, 3, 4, 5],
       'Column2': ['A', 'B', 'C', 'D', 'E'],
       'Column3': [True, False, True, False, True]})

Exportez le dataframe vers un fichier Excel.

In [12]:
df.to_csv('df_export.csv', index = False)

Exportez le dataframe vers un fichier JSON.

In [15]:
df.to_json('df_json_export_json')

**Exercice 6 : Lecture de donnÃ©es JSON**

In [14]:
import pandas as pd

Importez les donnÃ©es JSON Ã  partir de lâ€™URL fournie.

Utilisez Pandas pour lire les donnÃ©es JSON.
Afficher les cinq premiÃ¨res entrÃ©es des donnÃ©es.

In [20]:
data_post = pd.read_json('posts.json')
data_post.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...