In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [8]:
df = pd.read_csv("datascience_salaries.csv")

In [9]:
print(df.head())  
print(df.info()) 
print(df.describe())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1171 non-null   int64
 1   job_title         1171 non-null   object
 2   job_type          1171 non-null   object
 3   experience_level  1171 non-null   object
 4   location          1171 non-null   object
 5   salary_currency   1171 non-null   object
 6   salary            1171 non-null   int64
dtypes: int64(2), object(5)
memory usage: 64.2+ KB
None
        Unnamed: 0         salary
count  1171.000000    1171.000000
mean    931.620837   64836.037575
std     647.445266   32551.767046
min       0.000000   30000.000000
25%     364.500000   45000.000000
50%     815.000000   63000.000000
75%    1504.500000   68000.000000
max    2259.000000  228000.000000

Normalize the 'salary' column

In [10]:
scaler = MinMaxScaler()
df['normalized_salary'] = scaler.fit_transform(df[['salary']])

Dimensionality Reduction (PCA)

In [ ]:
numeric_df = df.select_dtypes(include=[np.number]).drop(columns=['salary'])  
pca = PCA(n_components=2) 
pca_result = pca.fit_transform(numeric_df)

In [ ]:
df['PCA1'] = pca_result[:, 0]
df['PCA2'] = pca_result[:, 1]

In [ ]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median'])

In [13]:
print("\nNormalized Salary Preview:")
print(df[['salary', 'normalized_salary']].head())

print("\nSalary Statistics by Experience Level:")
print('salary_stats')

Normalized Salary Preview:
   salary  normalized_salary
0  149000           0.601010
1  120000           0.454545
2   68000           0.191919
3  120000           0.454545
4  149000           0.601010

Salary Statistics by Experience Level:
salary_stats