1. Calculate the first quartile (Q1) and the third quartile (Q3) for the Age column in the Titanic dataset.

2. Compute the interquartile range (IQR) for the Age column.

3. Define the lower bound and upper bound for potential outliers based on the IQR.

4. Identify and count the number of outliers in the Age column if there is.

Q1 = titanic_data['Fare'].quantile(0.25)
Q3 = titanic_data['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
titanic_data = titanic_data[(titanic_data['Fare'] >= lower_bound) & (titanic_data['Fare'] <= upper_bound)]

In [1]:
import pandas as pd

In [3]:
data_train = pd.read_csv('train.csv')
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
Q1 = data_train['Age'].quantile(0.25)
Q3 = data_train['Age'].quantile(0.75)
IQR = Q3 - Q1
lower_boundl = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
data_train_fliter = data_train[(data_train['Age'] >= lower_bound) & (data_train['Age'] <= upper_bound)]

In [12]:
print('Q1')
print('Q3')
print('IQR')
print('data_train_fliter')

Q1
Q3
IQR
data_train_fliter